#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 700px;
  z-index: 100;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-view>div>button{
  background-color: #2AC420;
  border-radius: 10px;
  width: 8rem;
  height: 2rem;
  border:none
}
#app .button {
  display: flex;
  justify-content: space-around;
}
.button>button {
  background-color: #fff;
  border: none;
}
button:hover {
  cursor: pointer;
}
.button>  .selected {
  border-bottom: 2px solid #2AC420;
  transition: 200ms ease-in-out;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main {
  margin-top: 20px;
  /* background-color: red; */
  overflow-y: scroll;
  height: 435px;
}
.calldetail {
  background-color: #fff;
  height: 23rem;
  margin: 1rem 1rem 0.4rem 1rem;
  /* border:1px solid white; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Set the box shadow */
  border-radius: 20px;
}
.calldetaildesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.footeritem{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
.footeritem>li{
  list-style-type: none;
}
.calldetailcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left {
  flex: 1;
justify-content: flex-start;
}

.center {
  flex: 2;
  display: flex;
  font-weight: 600;
  font-size:  1rem;
  /* justify-content: flex-start; */
  align-items: center;
}
.nologs{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 300px;
}
.calldetailitem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20rem;
}
.carditem{
  border-bottom: 1px solid black;
   margin: 10px;
    display:flex;
}
.carditem2{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 100%;
}